<div class="row">
  <div class="col-xs-12" style="text-align: center">
    <h2 [ngClass]="{ 'text-black': lightMode, 'text-white': !lightMode }">
      Thank you for visiting
    </h2>
  </div>

  <br />
  <main class="form-signin" id="main">
    <form (ngSubmit)="onSubmit(f)" #f="ngForm">
      <div class="form-floating form-group">
        <input
          type="name"
          class="form-control"
          id="name"
          name="name"
          placeholder="Name"
          ngModel
          required
        />
        <label for="name">Name</label>
      </div>
      <div class="form-floating">
        <input
          type="email"
          class="form-control"
          id="email"
          name="email"
          placeholder="Email"
          ngModel
          required
          email
        />
        <label for="email">Email</label>
      </div>
      <div class="form-floating">
        <textarea
          type="message"
          class="form-control"
          id="message"
          name="message"
          placeholder="Messaage"
          ngModel
          required
          maxlength="300"
        ></textarea>
        <label for="message">Message</label>
      </div>
      <hr />

      <button class="w-100 btn btn-lg btn-success" type="submit">Send</button>
    </form>
    <!-- <ng-template [ngIf]="sending"> -->
    <h4 [ngStyle]="{ color: messageColor }">{{ message }}</h4>
    <!-- </ng-template> -->
  </main>
</div>
