<div class="container">
  <div class="row">
    <div class="col">
      <div class="main-timeline">
        <div class="timeline">
          <a href="#" class="timeline-content">
            <span class="timeline-year">2023-Present</span>
            <!-- <div class="timeline-icon">
                <i class="fa fa-users" aria-hidden="true"></i>
              </div> -->
            <div class="content">
              <h3 class="title">
                Data Engineer at The Home Depot (Dallas, Texas)
              </h3>
              <!-- <p class="description" [ngClass]="{'text-black' : lightMode, 'text-white': !lightMode}"> -->
              <ul
                class="description"
                [ngClass]="{
                  'text-black': lightMode,
                  'text-white': !lightMode
                }"
              >
                <li>
                  Designed, developed and documented the Customer Experience
                  Pipelines to manage Major Appliance, Local Delivery and Ship
                  to Home Orders at Home Depot.
                </li>
                <li>
                  Utilized Google Cloud DLP APIs to perform PII data inspection
                  and de-identification across BigQuery tables for the customer
                  feedback experience.
                </li>
                <li>
                  Identified potential flags across multiple events in customer
                  order experience which contributes in building customer
                  portfolio. using this data, designed and developed jenkins
                  pipelines as well as new tables for capturing potential flags.
                </li>
                <li>
                  Helped ML Engineering teams in streamlining the workflows and
                  in building customer journey for various order experiences.
                </li>
              </ul>
              <!-- </p> -->
            </div>
          </a>
        </div>
        <div class="timeline">
          <a href="#" class="timeline-content">
            <span class="timeline-year">2021-23</span>
            <!-- <div class="timeline-icon">
                <i class="fa fa-rocket" aria-hidden="true"></i>
              </div> -->
            <div class="content">
              <h3 class="title">
                Masters in Computers Science, Texas Tech University (Lubbock,
                TX, USA)
              </h3>
              <p
                class="description"
                [ngClass]="{
                  'text-black': lightMode,
                  'text-white': !lightMode
                }"
              >
                <b>Courses:</b> Analysis of Algorithms, Advanced Operating
                Systems, Network Security, Communication Networks
              </p>
            </div>
          </a>
        </div>
        <div class="timeline">
          <a href="#" class="timeline-content">
            <span class="timeline-year">2019-21</span>
            <!-- <div class="timeline-icon">
                <i class="fa fa-users" aria-hidden="true"></i>
              </div> -->
            <div class="content">
              <h3 class="title">SDE at Accenture (Bangalore, India)</h3>
              <!-- <p class="description" [ngClass]="{'text-black' : lightMode, 'text-white': !lightMode}"> -->
              <ul
                class="description"
                [ngClass]="{
                  'text-black': lightMode,
                  'text-white': !lightMode
                }"
              >
                <li>
                  Designed, developed, evaluated, and documented Microservices
                  using Python Flask Rest API.
                </li>
                <li>
                  Optimized code from GitLab to access data and performed ETL
                  operations on raw text data from Cloud Bucket to Firestore.
                </li>
                <li>
                  Utilized PostgreSQL in the pipeline to process raw text to
                  insert into Big Query and visualize using Looker Application.
                </li>
                <li>
                  Performed Data Analysis, cleaning, classifying, and labeling
                  client data. Created custom Natural Language Processing models
                  using Deep Learning (LSTM, GRU) and Python Keras API.
                </li>
                <li>
                  Integrated Spotfire, Denodo, and PlainID tools with BigQuery
                  and PostgreSQL databases to perform user or group-specific
                  policy enforcement on various columns.
                </li>
                <li>
                  Utilized Okta as Central user Identity, integrated across all
                  applications to perform Authentication and Authorization.
                </li>
              </ul>
              <!-- </p> -->
            </div>
          </a>
        </div>
        <div class="timeline">
          <a href="#" class="timeline-content">
            <span class="timeline-year">2018</span>
            <!-- <div class="timeline-icon">
                <i class="fa fa-cog" aria-hidden="true"></i>
              </div> -->
            <div class="content">
              <h3 class="title">
                Post Grad Student Status Program, IIIT Hyderabad (Hyderabad,
                India)
              </h3>
              <p
                class="description"
                [ngClass]="{
                  'text-black': lightMode,
                  'text-white': !lightMode
                }"
              >
                <b>Courses:</b> Statistical Methods in AI & Database Systems.
              </p>
            </div>
          </a>
        </div>
        <div class="timeline">
          <a href="#" class="timeline-content">
            <span class="timeline-year">2017-19</span>
            <!-- <div class="timeline-icon">
                <i class="fa fa-heart" aria-hidden="true"></i>
              </div> -->
            <div class="content">
              <h3 class="title">
                Associate SDE at Accenture (Hyderabad, India)
              </h3>
              <!-- <p class="description" [ngClass]="{'text-black' : lightMode, 'text-white': !lightMode}">
                  Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the industry's standard dummy text ever since the 1500s.
                </p> -->
              <ul
                class="description"
                [ngClass]="{
                  'text-black': lightMode,
                  'text-white': !lightMode
                }"
              >
                <li>
                  Involved in Server Admin tasks such as monitoring Linux
                  servers, reprocessing records, deploying, and updating the
                  code in Production. Worked on SQL scripts using Oracle 12c
                  Database.
                </li>
                <li>
                  Developed Angular Dashboard to reprocess the failed tasks and
                  deployed it into production; this reduced the 40% of tickets
                  inflow or 3 hours of manual work.
                </li>
                <li>
                  Used Python and Shell scripts, developed and deployed
                  automation codes to collect ticket data from Oracle Database,
                  then published reports into dashboards and sent emails.
                </li>
              </ul>
            </div>
          </a>
        </div>
        <div class="timeline">
          <a href="#" class="timeline-content">
            <span class="timeline-year">2012-16</span>
            <!-- <div class="timeline-icon">
                <i class="fa fa-globe" aria-hidden="true"></i>
              </div> -->
            <div class="content">
              <h3 class="title">
                Bachelors in Electronics and Communication Engineering, JNTU
                Hyderabad (Hyderabad, India)
              </h3>
              <p
                class="description"
                [ngClass]="{
                  'text-black': lightMode,
                  'text-white': !lightMode
                }"
              >
                <b>Courses:</b> Objected Oriented Programming in Java, Database
                Systems, Data Structures, C Language.
              </p>
            </div>
          </a>
        </div>
        <!-- <div class="timeline">
            <a href="#" class="timeline-content">
              <span class="timeline-year">2017</span>
              <div class="timeline-icon">
                <i class="fa fa-apple" aria-hidden="true"></i>
              </div>
              <div class="content">
                <h3 class="title">Laravel</h3>
                <p class="description" [ngClass]="{'text-black' : lightMode, 'text-white': !lightMode}">
                  Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the industry's standard dummy text ever since the 1500s.
                </p>
              </div>
            </a>
          </div>
          <div class="timeline">
            <a href="#" class="timeline-content">
              <span class="timeline-year">2017</span>
              <div class="timeline-icon">
                <i class="fa fa-edit" aria-hidden="true"></i>
              </div>
              <div class="content">
                <h3 class="title">Creapure</h3>
                <p class="description" [ngClass]="{'text-black' : lightMode, 'text-white': !lightMode}">
                  Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the industry's standard dummy text ever since the 1500s.
                </p>
              </div>
            </a>
          </div> -->
      </div>
    </div>
  </div>
</div>
