<!-- <div class="panel panel-default">
    <div class="panel-heading">
        <img 
            [src] = "project.projectImagePath"
            alt="{{ project.projectName }}" 
            class="img-responsive" 
            style="height:150px; max-height: 150px; max-width:230px; width: 230px;"
            >
    </div>
    <div class="panel-body">{{ project.projectName }}</div>
    <div class="panel-footer"> {{ project.projectDesc }} </div>
  </div> -->


<div class="card" style="width: 15rem;height: 20rem;" [ngClass]="{'text-black' : lightMode, 'text-white': !lightMode, 'white':lightMode, 'black':!lightMode}">
    <img [src]="project.projectImagePath" class="card-img-top" alt="{{ project.projectName }}" style="width: 15rem; height: 8rem;">
    <div class="card-body">
      <h6 class="card-title">{{ project.projectName }}</h6>
      <p class="card-text">{{ project.projectDesc }}</p>
      <a href="#" class="btn btn-primary">Project location</a>
    </div>
</div>